:root{
    --color-primary:#53c28b;
    --color-secondary:#bbb;
}

body{
    max-height: 100vh;


}


.nav{
    width: 900px;
    background-color: black;
    display: flex;
    justify-content: space-between;

}
ul{
    list-style: none;
    
}

.link{
    margin-top: 10px;
    color: white;
    text-decoration: none;

}
.link :hover{
    color: aqua;
}
.container{
    max-width: 90%;
    min-height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.root_container{
    width: 90%;
    margin: auto;
}
/* @media (prefers-color-scheme: dark){
    body{
        
        color-scheme:light;
    }
    
} */
.theme{
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
}
.light{
    background-color: white;
    color: #111;
}

.dark{
    background-color: #111;
    color: #bbb;
}