.brand{
    margin-top: 20px;
    padding-right: 20px;
    width: 100%;
    display: flex;
    justify-content:end ;
    align-items: center;
    overflow: hidden;
    gap: 10px;
}
.brand :first-child :hover{
    color: red;

}
/* .brand :last-child :hover{
    color: greenyellow;
} */
.brand :nth-child(even) :hover{
color: blueviolet;
}
